*,
::before,
::after {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
}

/* ------------------------ Board outlines and inital board setup ----------------------------- */

#board {
    display:flex;
    flex-direction: column;
    margin:auto;
    flex-wrap: wrap;
    width:668px;
    margin-bottom:50px;
}

.row {
    display:flex;
    border-left:2px solid black;
}

.row:first-child {
    border-top:2px solid black;
}

.row:last-child {
    border-bottom:1px solid black;
}

.cell:nth-child(3n) {
    border-right:2px solid black;
}

.row:nth-child(3n) {
    border-bottom:1px solid black;
}


.cell {
    width:75px;
    height:75px;
    margin-top: -1px;
    margin-left:-1px;
    border:.25px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:32px;
    position:relative;
}

.cell:hover {
    cursor: pointer;
}

.pencil-mark--container {
    position:absolute;
    display:flex;
    top:0;
    left:0;
    font-size: 14px;
    margin:5px;
}

.pencil-mark {
    margin:0;
}


/* -------------------------- Number Pad ------------------------------- */

#numpad {
    display:flex;
    flex-wrap:wrap;
    justify-content: center;
    width:270px;
    
}

.number {
    width:75px;
    height:75px;
    border:1px solid black;
    margin:5px;
    display:flex;
    justify-content: center;
    align-items: center;
}

.number:hover,
#modeButton:hover {
    cursor:pointer;
    background-color: ghostwhite;
}

#modeButton {
    width:90%;
    text-align: center;
    border:1px solid black;
    padding:10px;
}


/* ---------------------------- highlighted cells ------------------------------- */

.highlighted {
    background-color:beige;
}

.selected {
    background-color: ghostwhite;
}